/* NAV */


/* .header-menu-1, .header-menu-2 {
    position: absolute;   
    } 11/2 edit*/

h3 {
    font-weight: 200;
}


.awards {
    margin-top:20x; 
}


.gold {
    height: 150px;
    width: 200px;
}

.award :nth-child(1).gold {
    background: url(../images/brand/gold01.png) no-repeat scroll center center / contain;
}


.award :nth-child(2).gold {
    background: url(../images/brand/gold02.png) no-repeat scroll center center / contain;
}

.award :nth-child(3).gold {
    background: url(../images/brand/gold03.png) no-repeat scroll center center / contain;
}

.awards :nth-child(1).gold {
    background: url(../images/brand/gold04.png) no-repeat scroll center center / contain;
    height:200px;
}


.awards :nth-child(2).gold {
    background: url(../images/brand/gold05.png) no-repeat scroll center center / contain;
    height:200px;
}

.brand-content p {
    text-align: justify;

}



.bn-img {
    width: 100%;
    height: 400px;
    background: url(../images/brand/brand02b.jpg) no-repeat scroll center center / cover;
    margin: 40px auto;
}


.lab-img {

    width: 100%;
    height: 400px;
    background: url(../images/brand/brand03.jpg) no-repeat scroll center center / cover;
}



.collagen-img {

    width: 100%;
    height: 400px;
    background: url(../images/brand/brand04.jpg) no-repeat scroll center center / contain;
}

.skin-img {

    width: 100%;
    height: 400px;
    background: url(../images/brand/brand05.jpg) no-repeat scroll center center / contain;
}


.herb-img {

    width: 100%;
    height: 400px;
    background: url(../images/brand/brand06.jpg) no-repeat scroll center center / cover;
}


.text-note {
    font-size: 0.9rem;
}

.founder {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: url(../images/brand/founder.png) no-repeat scroll center center / contain;
}

.founder-text>span {
    display: inline-block;

}




/*TOP Video*/

.video-wrap{
    padding: 110px 0 0 0;
}

.brand-top-video {
    position: relative;
    overflow: hidden;
    height: 550px;
}


.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}



